img:hover {
    zoom: 200%;
    animation-name: monanimation;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
}


img{
  max-width: 250px;
  max-height: 250px;
  background-color: blue;
    transition-property: background-color, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
   
}
   @keyframes monanimation {
    0% {
        transform: scale(1);
        background-color: blue;
    }
    50% {
        transform: scale(1.5);
        background-color: purple;
    }
    100% {
        transform: scale(1);
        background-color: red;
    }
   }