img:hover {
    zoom: 200%;
    animation-name: ryuanimation;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    }
    


img{
  max-width: 200px;
  max-height: 200px;
  background-color: blue;
    transition-property: background-color, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    border-radius: 50%;
    border-style: groove;
    border-color: chocolate;
   
}
   @keyframes ryuanimation {
  0% {
        transform-style: flat;
        background-color: blue;
      
    }
    25% {
        transform: rotate(200deg);scale: 1.5;
        background-color: purple;
        
    }
    50% {
        transform: rotate(200deg) scale(2);
        background-color: red;
    }
    
    75%{
        transform: rotate(200deg);scale: 2;
        background-color: rgb(255, 0, 149);

    }
      
    100%
    {
      transform: rotate(75deg); scale: 2;
      background-color: chartreuse;
    
    }
    }

  





body{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 200px;
    background-color: yellowgreen;
}   

  
