
@font-face {
    font-family: "police custom";
    src: url(../fonts/PlayfairDisplay-Regular.ttf)
}
    
body{
    background-color: hsla(228, 38%, 95%, 0.521);
    padding-left: 200px;
    padding-right: 200px;
    font-family: "police custom";

    }

    h1{
    color: blue;
    background-color: aliceblue;
    text-decoration: underline;
    text-decoration-color: brown;
    font-size: 98px;
    font-family: Arial, Helvetica, sans-serif;
}


h2{
    color: blue;
    background-color: aliceblue;
    text-decoration: underline;
    text-decoration-color: brown;
    font-style: bold;
}

h3{
    color: blue;
    background-color: aliceblue;
    text-decoration: underline;
    text-decoration-color: brown;
}
img {
    width: 200px;
    margin: auto;
    display: block;
    
}