#container {


    display: grid;
    grid-template-columns:1fr 2fr 1fr ;
    grid-template-rows: repeat(4,auto);
    } 
    

    h1{
        grid-column:1/4;
        text-align: center;
    }
        
    nav {
        display: grid;
        grid-column-start: 2;
        grid-row-start: 2;
        

    }
    
    .article1{
        grid-column-start: 1;
        grid-row-start:3;
        
    }

    .article2{
        grid-column-start: 2;
        grid-row-start:3;
    }
        
    .article3{
        grid-column-start: 3;
        grid-row-start:3;
    }

    footer{
        grid-row-start:3;
    }
        
        
    
    
    
    






p {color: blueviolet;}